<HTML>
    <HEAD><TITLE>Welcome to my portal</TITLE></HEAD>
    <BODY>
        <FONT FACE="Helvetica">
        <H1>Welcome to my Portal</H1>
        Here are the links, yo:
        <TABLE cellpadding="15">
            <TR>
                <TD valign="top">Stocks</TD>
                <TD valign="top">
                    <FORM method="POST" ACTION="get_stock">
                        Ticker: <INPUT NAME="ticker"><INPUT TYPE="submit" VALUE="Go">
                    </FORM>
                </TD>
            </TR>
        </TABLE>
    </BODY>
</HTML>
